html {
    overflow: hidden; /*Эта строчка нам нужна*/
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #24262c;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}

.card {
  background-color: #111111;
  max-width: 100%;
  padding: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.contact-button {
  padding: 12px 25px;
  font-size: 1em;
  color: #ffffff;
  background-color: #111111;
  border: none;
  border-radius: 8px;
  text-decoration-color:#c93434;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-buttonn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 1em;
  color: #ffffff;
  background-color: #111111;
  border: none;
  border-radius: 8px;
  text-decoration-color:#c93434;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-buttonn {
  display: inline-block;
  padding: 12px 25px;
  font-size: 1em;
  color: #ffffff;
  background-color: #111111;
  border: none;
  border-radius: 8px;
  text-decoration: solid underline rgb(0, 255, 234) 1px;
  text-underline-offset: 0.8em;
  text-underline-position: auto;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-button:hover {
  background-color: #252323;
  transform: scale(1.1);
}

.contact-buttonn:hover {
  background-color: #252323;
  transform: scale(1.1);
}
