/*Прочее*/

.delete-button_x {
    background: rgb(47, 47, 47);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    font: inherit;
}

.delete-button {
    background: rgb(47, 47, 47);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    margin: 2px;
    cursor: pointer;
    font: inherit;
}

.delete-button:hover {
    background: rgb(255, 107, 107)
}

.out {
    background: rgb(190, 97, 97);
    border: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    font: inherit;
}

.out:hover {
    background: rgb(51, 51, 51)
}

.in {
    background: rgb(4, 13, 80);
    border: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    font: inherit;
}

.in:hover {
    background: rgb(51, 51, 51)
}

/*Блоки*/

#start{
    background-color: brown;
    margin: 5px;
}

#end{
    background-color: brown;
    margin: 5px;
}

.variable{
    background-color: brown;
    margin: 5px;
}

.assignment_operation{
    background-color: brown;
    margin: 5px;
}

.sum{
    background-color: brown;
    margin: 5px;
}

.cout{
    background-color: brown;
    margin: 5px;
}